<footer>
    <div class="container d-flex justify-content-center">
        <p class="pull-left lh-1"> © 2018 Company, Inc. All Rights Reserved&nbsp;</p>
        <a class="github-button float-right" href="https://github.com/richardnguyen99/mvc-express-ts-starter-pack"
            data-icon="octicon-star" data-show-count="true"
            aria-label="Star richardnguyen99/mvc-express-ts-starter-pack on GitHub">Star</a>
    </div>
</footer>